body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f3f5f7;
}

.card {
    text-align: center;
    height: 500px;
    width: 60%;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #455a6431;
}

#line {
    background-color: #e9e8e8;
    height: 1px;
    width: 85%;
    position: absolute;
    top: 170px;
    }

.titles {
    color: #424242;
}

#name {
    font-size: 2rem;
}

#twitter {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(199, 199, 199);
}

#button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;

}

#bottom:hover {
    background-color: #ffa06d;
}

#imageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#bottom {
    display: flex;
    background-color: #ff6e40;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 0 0px 5px 5px;
    transition: 0.5s;
}



#profile {
    border-radius: 50%;
    height: 200px;
    width: 200px;;
    border: 20px solid whitesmoke;
    object-fit: cover;
    margin-top: 50px;
    z-index: 1;
}

@media (max-width: 700px) {
    #profile {
        height: 150px;
        width: 150px;
    }

    #line {
        top: 145px;
        height: 3px;
    }

    .card {
        height: 490px;
        width: 95%;
    }

    #name {
        padding-left: 2%;
        padding-right: 2%;
    }

}